* {
  margin: 0px;
  padding: 0px;
  box-shadow: none;
}
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-thumb {
  border-radius: 20px;
}
.pagerent {
  background: linear-gradient(
    99deg,
    #cfdde0 -2.67%,
    rgba(207, 221, 224, 0) 84.65%
  );
}
.hero {
  padding: 92px 0px 82px;
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  max-width: 450px;
  margin-bottom: 30px;
  color: #000;
}
.loging {
  color: #555;
  text-decoration: none;
}

.search {
  background: #af824a;
  font-size: 12px;
  margin-right: 8px;
  line-height: 16px;
  font-weight: 600;
  padding: 11px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  /* border-radius: 15px; */
  border: none;
}
.homes {
  position: relative;
  left: 7pc;
}
.top-content .tap-content {
  background: linear-gradient(
      0deg,
      hsla(0, 0%, 100%, 0.89),
      hsla(0, 0%, 100%, 0.89)
    ),
    linear-gradient(0deg, hsla(0, 0%, 100%, 0.25), hsla(0, 0%, 100%, 0.25));
  border-radius: 0 6px 6px 6px;
  padding: 14px;
  font-size: 12px;
}
.serching .serchingtop {
  display: grid;
  align-items: center;
  grid-gap: 11px;
  gap: 11px;
  grid-template-columns: repeat(3, 1fr);
}
.primary-dropdown {
  position: relative;
}
.primary-dropdown .dropdown-toggle:after {
  position: absolute;
  right: 10px;
}
.primary-dropdown .dropdown-toggle:after {
  content: "";
  border: none;
  background-image: url(/_next/static/media/downArrow.8e63c463.svg);
  background-size: 10px;
  height: 8px;
  width: 10px;
  background-repeat: no-repeat;
  margin-top: 3px;
}
.dropdown-toggle:after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

/* FEATURED HOMES  */

.feature-home-main {
  padding: 70px 0;
}
.homefeaty {
  color: #af824a;
  text-align: center;
  font-family: "Open Sans";
  /* font-size: 12px; */
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.16px;
}
.ourlest {
  text-align: center;
  color: #000;
  font-family: "Open Sans";

  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.discover {
  color: #5f5f5f;
  text-align: center;
  font-family: "Open Sans";
  /* font-size: 12px; */
  font-style: normal;
  font-weight: 400;

  line-height: normal;
}
.tabcountry .nav-pills {
  justify-content: center;
  background-color: var(--header-light);
  color: var(--secondary-light);
  border-bottom: 1px solid #d0d0d0;
}
.nav-fill > .nav-link,
.tabcountry .nav-fill .nav-item {
  flex: inherit;
  text-align: center;
  display: flex;
  justify-content: center;
}
.nav-link {
  color: #af824a;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #af824a;
  background-color: #ffffff;
}

/* BUY . RENT . SELL We help people buy, rent and sell homes */
.buy-rent-sell-mmain {
  margin-bottom: 70px;
}
.baynoe {
  text-align: center;
  color: #af824a;
  line-height: 32px;
  /* font-size: 24px; */
}
.help {
  color: #000;
  line-height: 32px;
  font-size: 24px;
}
.makereal {
  color: #000;
  font-size: 12px;
  line-height: 16px;
}
.imgfluid {
  position: relative;
  left: 4pc;
  margin-bottom: 16px;
  width: 280px;
  height: 260px;
}
.sellhomedescription {
  color: var(--secondary-light);
  font-size: 12px;
  line-height: 16px;
  max-width: 320px;
  margin: auto;
}
h3 {
  line-height: 27px;
  font-size: 20px;
}

/* Looking to sell your home */

.property {
  background: lightgray 50% / cover no-repeat;
}
.cta .property {
  box-shadow: 0 4px 38px 15px #0000000a;
  background-color: #f0daca;
  padding: 0 40px;
  border-radius: 20px;
  margin-bottom: 105px;
}
.sellhome .property .cta-info h3 {
  color: #000;
}
.sellhome .looking-sell-para {
  color: var(--secondary-light);
  line-height: 21px;
}
.sellhome .property .cta-info .thiyo-btn {
  border: 1px solid transparent;
  transition: all 0.5s ease-in-out;
  width: 198px;
  padding: 0;
  border-radius: 10px;
  height: 45px;
}
.sellhome .property .cta-info h3 {
  color: #000;
}
.sellhome .looking-sell-para {
  color: var(--secondary-light);
  line-height: 21px;
}
.ctn {
  position: relative;
  top: 102px;
}

/* TESTIMONIALSWhat our clients are saying */

.main-gallery .img-gallery-info .line {
  width: 117.68px;
  height: 1px;
  background-color: #000;
}

.imageitemHoele {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
  padding-bottom: 73px;
}
.airports {
  width: 416px;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}

/*  */

.slider {
  padding: 70px 0 50px;
}
.tesing {
  color: #af824a;
  text-align: center;
  font-family: "Open Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.16px;
}
.clients {
  color: #000;
  font-family: "Open Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.sayings {
  padding-bottom: 50px;
}

.testimonial-main {
  box-shadow: 0 2px 3px 0 #242d3c33;
  background-color: #fff;
  padding: 0 30px 30px;
  margin-bottom: 65px;
  border-radius: 0 0 4px 4px;
}
.test-para {
  color: #737d8c;
  font-size: 10px;
  padding-top: 5px;
  line-height: 20px;
  font-weight: 400;
  padding-bottom: 15px;
}
.client {
  border-radius: 30px;
}

/*Become a Real Estate Agent*/

.becomes {
  background-color: #f8f4f0;
}
.btncolornow {
  border-radius: 25.692px;
  background: linear-gradient(180deg, #af824a 0%, #f2b96e 145.55%);
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.02em;
  padding: 12px 15px;
  transition: 0.1s ease-in-out !important;
}
.becomereal {
  position: relative;
  top: 6pc;
}
.imagedeepki {
  position: relative;
  left: 11pc;
}

/* footer copy logo*/
.footerthiyocopy {
  background-color: #1d4e80;
  padding: 50px 0 30px;
}
.fliude {
  height: 120px;
}
.apply {
  margin-right: 9px;
  border-radius: 10px;
}
.apios {
  padding-top: 10px;
  margin-top: 10px;
}
.applye {
  border-radius: 10px;
}
.nemoenin {
  color: white;
}
.sociemide {
  margin: 5px;
  cursor: pointer;
  transition: width 2s;
}
/* .sociemide:hover {
  width: 10px;
  color: #af824a;
} */
.footer {
  color: #fff;
  font-size: 19px;
  cursor: pointer;
}
.explore {
  color: #af824a;
  font-size: 25px;
  cursor: pointer;
}
.thiyoshare {
  color: #d0d0d0;
  padding-top: 15px;
  margin-top: 15px;
  /* color: silver; */
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0;
  text-align: left;
  /* text-align: center; */
}
.copylink {
  display: flex;
  justify-content: space-between;
  color: #d0d0d0;
}
.linksvg {
  cursor: pointer;
}

/* page loging */
.iconsloging {
  position: relative;
  top: 5pc;
  text-align: center;
}
.auth .sendOtp input {
  padding-right: 120px;
}
.auth .form-control {
  padding: 15px 20px;
  box-shadow: none;
  border: 1px solid #cdd6e1;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: #a2aab8;
  height: 48px;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
input {
  accent-color: #af824a;
}
.auth label {
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  color: #737d8c;
  cursor: pointer;
  margin-bottom: 11px;
}
.LockIcon {
  background-color: #deaa62;
  padding: 10px 10px;
  border-radius: 4px;
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  color: #fff;
  top: 17pc;
  align-items: end;
  right: 114px;
  border: none;
  position: absolute;
}
.lockicon {
  background-color: #deaa62;
  padding: 10px 10px;
  border-radius: 4px;
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  color: #fff;
  align-items: end;
  right: 0;
  border: none;
  position: relative;
  left: 35pc;
  top: -38px;
}

.thiyoiconsa {
  text-align: center;
}

.otp-verification-main input {
  width: 55px;
  height: 48px;
  position: relative;
  border-radius: 7px;
  text-align: center;
  border: 1px solid #cdd6e1;
}
.otp-verification-main {
  display: flex;
  align-items: center;
  gap: 10px;
}

.auth a {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;

  text-decoration: underline !important;
}
.cursor-pointer {
  cursor: pointer;
  color: #c1c4ca;
}
.button-primary-gradient {
  box-shadow: 0 3px 6px 0 #0e3e8440;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  color: #fff;
  border-radius: 4px;
  padding: 7px 20px;
  border: 1px solid #af824a;
}
.gradient-hover-effect {
  background: linear-gradient(180deg, #af824a, transparent) #c89757;
}
.th-divider {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #737d8c;
  display: flex;
  align-items: center;
  gap: 20px;
  width: 80%;
  margin: auto auto 30px;
}
.th-divider:before {
  background: linear-gradient(90deg, rgba(115, 125, 140, 0), #cbd1dc);
}
.th-divider:after,
.th-divider:before {
  content: "";
  position: relative;
  height: 1px;
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  overflow: hidden;
}

.th-divider:after {
  background: linear-gradient(90deg, #cbd1dc, rgba(115, 125, 140, 0));
}
.th-divider:after,
.th-divider:before {
  content: "";
  position: relative;
  height: 1px;
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  overflow: hidden;
}
.social-btn {
  padding: 8px 15px;
  border-radius: 100px;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: #737d8c;
  border: 1px solid #cdd6e1;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.social-btn {
  padding: 13px 10px !important;
  font-size: 15px !important;
  background: #fff !important;
  width: 100%;
}

.auth .no-account,
.auth .no-account span {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  text-align: center;
  color: #2a323c;
  margin-bottom: 38px;
}
h6,
p {
  font-style: normal;
  font-weight: 600;
}
.auth .no-account span {
  color: #af824a;
  font-weight: 700;
  cursor: pointer;
}
.auth .no-account,
.auth .no-account span {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  text-align: center;
  color: #2a323c;
  margin-bottom: 38px;
}
span {
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.singup {
  color: #af824a;
}

/* Register */
.auth label {
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  color: #737d8c;
  cursor: pointer;
  margin-bottom: 11px;
}

.react-tel-input {
  font-family: Roboto, sans-serif;
  font-size: 15px;
  position: relative;
  width: 100%;
}
.react-tel-input .special-label {
  display: none;
  white-space: nowrap;
}
.react-tel-input .invalid-number-message,
.react-tel-input .special-label {
  position: absolute;
  z-index: 1;
  font-size: 13px;
  left: 46px;
  top: -8px;
  background: #fff;
  padding: 0 2px;
}
.react-tel-input input.form-control {
  padding-left: 50px !important;
}
.react-tel-input .form-control {
  position: relative;
  font-size: 14px;
  letter-spacing: 0.01rem;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-left: 48px;
  margin-left: 0;
  background: #fff;
  border: 1px solid #cacaca;
  border-radius: 5px;
  line-height: 25px;
  height: 35px;
  width: 300px;
  outline: none;
}
.react-tel-input {
  font-family: Roboto, sans-serif;
  font-size: 15px;
  position: relative;
  width: 100%;
}

.react-tel-input .selected-flag {
  outline: none;
  position: relative;
  width: 38px;
  height: 100%;
  padding: 0 0 0 8px;
  border-radius: 3px 0 0 3px;
}
.react-tel-input .selected-flag .flag {
  position: absolute;
  top: 50%;
  margin-top: -5px;
}
.react-tel-input .in {
  background-position: -208px -55px;
}
.react-tel-input .flag-dropdown {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0;
  background-color: #f5f5f5;
  border: 1px solid #cacaca;
  border-radius: 3px 0 0 3px;
}
.react-tel-input .selected-flag .arrow {
  position: relative;
  top: 50%;
  margin-top: -2px;
  left: 20px;
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 4px solid #555;
}
.react-tel-input .flag {
  width: 16px;
  height: 11px;
}
