* {
  margin: 0px;
  padding: 0px;
  box-shadow: none;
}
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-thumb {
  border-radius: 20px;
}
.pagerent {
  background: linear-gradient(
    99deg,
    #cfdde0 -2.67%,
    rgba(207, 221, 224, 0) 84.65%
  );
}
.hero {
  padding: 92px 0px 82px;
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  max-width: 450px;
  margin-bottom: 30px;
  color: #000;
}
.search {
  background: #af824a;
  font-size: 12px;
  margin-right: 8px;
  line-height: 16px;
  font-weight: 600;
  padding: 11px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  /* border-radius: 15px; */
  border: none;
}
.homes {
  position: relative;
  left: 7pc;
}
.top-content .tap-content {
  background: linear-gradient(
      0deg,
      hsla(0, 0%, 100%, 0.89),
      hsla(0, 0%, 100%, 0.89)
    ),
    linear-gradient(0deg, hsla(0, 0%, 100%, 0.25), hsla(0, 0%, 100%, 0.25));
  border-radius: 0 6px 6px 6px;
  padding: 14px;
  font-size: 12px;
}
.serching .serchingtop {
  display: grid;
  align-items: center;
  grid-gap: 11px;
  gap: 11px;
  grid-template-columns: repeat(3, 1fr);
}
.primary-dropdown {
  position: relative;
}
.primary-dropdown .dropdown-toggle:after {
  position: absolute;
  right: 10px;
}
.primary-dropdown .dropdown-toggle:after {
  content: "";
  border: none;
  background-image: url(/_next/static/media/downArrow.8e63c463.svg);
  background-size: 10px;
  height: 8px;
  width: 10px;
  background-repeat: no-repeat;
  margin-top: 3px;
}
.dropdown-toggle:after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

/* FEATURED HOMES  */

.feature-home-main {
  padding: 70px 0;
}
.homefeaty {
  color: #af824a;
  text-align: center;
  font-family: "Open Sans";
  /* font-size: 12px; */
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.16px;
}
.ourlest {
  text-align: center;
  color: #000;
  font-family: "Open Sans";

  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.discover {
  color: #5f5f5f;
  text-align: center;
  font-family: "Open Sans";
  /* font-size: 12px; */
  font-style: normal;
  font-weight: 400;

  line-height: normal;
}
.tabcountry .nav-pills {
  justify-content: center;
  background-color: var(--header-light);
  color: var(--secondary-light);
  border-bottom: 1px solid #d0d0d0;
}
.nav-fill > .nav-link,
.tabcountry .nav-fill .nav-item {
  flex: inherit;
  text-align: center;
  display: flex;
  justify-content: center;
}
.nav-link {
  color: #af824a;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #af824a;
  background-color: #ffffff;
}

/* BUY . RENT . SELL We help people buy, rent and sell homes */
.buy-rent-sell-mmain {
  margin-bottom: 70px;
}
.baynoe {
  text-align: center;
  color: #af824a;
  line-height: 32px;
  /* font-size: 24px; */
}
.help {
  color: #000;
  line-height: 32px;
  font-size: 24px;
}
.makereal {
  color: #000;
  font-size: 12px;
  line-height: 16px;
}
.imgfluid {
  position: relative;
  left: 4pc;
  margin-bottom: 16px;
  width: 280px;
  height: 260px;
}
.sellhomedescription {
  color: var(--secondary-light);
  font-size: 12px;
  line-height: 16px;
  max-width: 320px;
  margin: auto;
}
h3 {
  line-height: 27px;
  font-size: 20px;
}

/* Looking to sell your home */

.property {
  background: lightgray 50% / cover no-repeat;
}
.cta .property {
  box-shadow: 0 4px 38px 15px #0000000a;
  background-color: #f0daca;
  padding: 0 40px;
  border-radius: 20px;
  margin-bottom: 105px;
}
.sellhome .property .cta-info h3 {
  color: #000;
}
.sellhome .looking-sell-para {
  color: var(--secondary-light);
  line-height: 21px;
}
.sellhome .property .cta-info .thiyo-btn {
  border: 1px solid transparent;
  transition: all 0.5s ease-in-out;
  width: 198px;
  padding: 0;
  border-radius: 10px;
  height: 45px;
}
.sellhome .property .cta-info h3 {
  color: #000;
}
.sellhome .looking-sell-para {
  color: var(--secondary-light);
  line-height: 21px;
}
.ctn {
  position: relative;
  top: 102px;
}

/* TESTIMONIALSWhat our clients are saying */

.main-gallery .img-gallery-info .line {
  width: 117.68px;
  height: 1px;
  background-color: #000;
}

.imageitemHoele {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
  padding-bottom: 73px;
}
.airports {
  width: 416px;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}

/*  */

.slider {
  padding: 70px 0 50px;
}
.tesing {
  color: #af824a;
  text-align: center;
  font-family: "Open Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.16px;
}
.clients {
  color: #000;
  font-family: "Open Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.sayings {
  padding-bottom: 50px;
}

.testimonial-main {
  box-shadow: 0 2px 3px 0 #242d3c33;
  background-color: #fff;
  padding: 0 30px 30px;
  margin-bottom: 65px;
  border-radius: 0 0 4px 4px;
}
.test-para {
  color: #737d8c;
  font-size: 10px;
  padding-top: 5px;
  line-height: 20px;
  font-weight: 400;
  padding-bottom: 15px;
}
.client {
  border-radius: 30px;
}

/*Become a Real Estate Agent*/

.becomes {
  background-color: #f8f4f0;
}
.btncolornow {
  border-radius: 25.692px;
  background: linear-gradient(180deg, #af824a 0%, #f2b96e 145.55%);
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.02em;
  padding: 12px 15px;
  transition: 0.1s ease-in-out !important;
}
.becomereal {
  position: relative;
  top: 6pc;
}
.imagedeepki {
  position: relative;
  left: 11pc;
}

/* footer copy logo*/
.footerthiyocopy {
  background-color: #1d4e80;
  padding: 50px 0 30px;
}
.fliude {
  height: 120px;
}
.apply {
  margin-right: 9px;
  border-radius: 10px;
}
.apios {
  padding-top: 10px;
  margin-top: 10px;
}
.applye {
  border-radius: 10px;
}
.nemoenin {
  color: white;
}
.sociemide {
  margin: 5px;
  cursor: pointer;
}
.footer {
  color: #f0daca;
  font-size: 19px;
  cursor: pointer;
}
.explore {
  color: #af824a;
  font-size: 25px;
  cursor: pointer;
}
.thiyoshare {
  color: #d0d0d0;
  padding-top: 15px;
  margin-top: 15px;
  /* color: silver; */
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0;
  text-align: left;
  /* text-align: center; */
}
.copylink{
  display: flex;
  justify-content: space-between;
  color: #d0d0d0;
}
.linksvg{
  cursor: pointer;
}


/* page loging */
.iconsloging{
 position: relative;
 top: 5pc;
  text-align: center;
}
.address{
  text-align: left;
  margin-left: 10px;
}